# Environment files
.env
*.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/
ENV/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Database files (optional)
db.sqlite3
Contact Manager/
ToDoApp/